:root{
    --prymary-color-darker: #1b0202;
    --prymary-color: #3d0808;
    --prymary-color-lighter: #861313;
}

*{
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--prymary-color);
    padding: 20px;
}

section{
    max-width: 400px;
    padding: 20px;

    border: solid;
    border-radius: 15px;
    border-color: var(--prymary-color-darker);
    background-color: var(--prymary-color-lighter);
}

section div div button{
    margin-left: 5px;
}

div{
    display: flex;
    justify-content: space-between;
}

.stats{
    margin-bottom: 20px;
}

#points{
    margin-left: 100px;
    margin-right: 100px;
}

#points-count{
    font-weight: bold;
}

label{
    width: 50px;

    font-size: 35px;
    color: white;
}

button{
    font-size: 35px;

    border-radius: 10px;
    border: solid;

    width: 40px;
    height: 40px;

    color: var(--prymary-color-darker);
    border-color: var(--prymary-color-darker);
    cursor: pointer;
}

button:hover{
    transition-duration: 300ms;
    background-color: var(--prymary-color-lighter);
}



